
.top-bar {
  overflow: hidden;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
  background: #feee00;
  margin-bottom: 0;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  padding: 0 0.9375rem;
  line-height: 2.8125rem;
  color: #242222;
  background: #FCFC0E;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #FCFC0E;
  color: #242222;
}

.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
  font-weight: normal;
  color: #242222;
  width: 100%;
  display: block;
  padding: 0 0.9375rem;
}

#hero-cover{

	background-image: url(../img/cover.jpg);

	background-position: 50%;
	background-size: cover;

	position: relative;

background-color: #cbcccf;

height: 25em;

background-repeat: no-repeat;

		padding-top: 6em;

	padding-bottom: 2em;

		text-align: center;



}

#hero-cover button, .button {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #feee00;
  border-color: #007095;
  color: #000000;
  transition: background-color 300ms ease-out;
}
.top-bar.expanded .title-area {
  background: #EADC16;
}

.top-bar .toggle-topbar.menu-icon a {
  height: 34px;
  line-height: 33px;
  padding: 0 2.5rem 0 0.9375rem;
  color: #000000;
  position: relative;
}
.top-bar .toggle-topbar a {
  color: #000000;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: bold;
  position: relative;
  display: block;
  padding: 0 0.9375rem;
  height: 2.8125rem;
  line-height: 2.8125rem;
}
.top-bar .toggle-topbar.menu-icon a span::after {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  top: 50%;
  margin-top: -8px;
  right: 0.9375rem;
  box-shadow: 0 0 0 1px #2C1A1A, 0 7px 0 1px #0D0202, 0 14px 0 1px #110202;
  width: 16px;
}

.appsections{

	padding-top: 30px;
	padding-bottom: 30px;

}


#slogan{

	background-color: #fff265;
}
.howworks{
	
	background-color: #393b47;
	padding-top: 30px;
}


.features{
	background-color: #2b2e37;
	padding-top: 50px;
}

.featuresmobile{
	background-color: #2b2e37;
	padding-top: 50px;
}
#register{
	background-color: #fff365;
	padding-top: 50px;
}

.iphoneblurb{
	padding-bottom: 0;
	  margin-bottom: 0;
}
.white-text{
	color: #ffffff;
}
.bullet-icon{
	padding-left: 0;
	padding-right: 0;
	
}
#footer{
		padding-top: 20px;
}
.credits{
	font-size: 0.8em;
}

@media only screen and (min-width: 40.063em)
.top-bar {
  background: #feee00;
  overflow: visible;
}

@media only screen and (min-width: 40.063em)
.top-bar-section li.active:not(.has-form) a:not(.button) {
  padding: 0 0.9375rem;
  line-height: 2.8125rem;
  color: #242222;
  background: #FCFC0E;
}
@media only screen and (min-width: 40.063em)
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #0078a0;
  color: #FFFFFF;
}